<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="oscadEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <oscadEdit.Properties.Settings>
            <setting name="Whitespace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EOL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZOOM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>600, 400</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="oscadPath" serializeAs="String">
                <value>C:\OpenSCAD\libraries\</value>
            </setting>
            <setting name="SaveFileDialogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenFileDialogPath" serializeAs="String">
                <value />
            </setting>
        </oscadEdit.Properties.Settings>
    </userSettings>
</configuration>